GRANT REPLICATION SLAVE ON *.* to 'DBREP_USER'@'HOSTNAME_NODE2' IDENTIFIED BY 'DBREP_PASSWORD';
GRANT REPLICATION SLAVE ON *.* to 'DBREP_USER'@'HOSTNAME_VIRTUAL' IDENTIFIED BY 'DBREP_PASSWORD';
GRANT ALL ON ejbca.* to 'DB_USER'@'HOSTNAME_NODE1' IDENTIFIED BY 'DB_PASSWORD';
GRANT ALL ON ejbca.* to 'DB_USER'@'HOSTNAME_NODE2' IDENTIFIED BY 'DB_PASSWORD';
GRANT ALL ON ejbca.* to 'DB_USER'@'HOSTNAME_VIRTUAL' IDENTIFIED BY 'DB_PASSWORD';
