name: ci
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: mkdocs gh-deploy --force
      - run: sudo apt-get install ruby ruby-dev rubygems build-essential
      - run: sudo gem install --no-document fpm
      - run: sudo mkdir -p /results /opt/syscheck /work /test-reports
      - run: sudo ./test/run-build-install-and-test.sh --install=/opt/syscheck --work=/work --results=/results --test=/test-reports
      - uses: actions/upload-artifact@v4
        with:
          name: build-results
          path: |
            /results/*
            /test-reports/*
